

div#left {
  flex-grow: 0;
  background-color: green;
}

div#content {
  animation: fadeInOut moveLeft300px bounce;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div#right{
  flex-grow: 0;
  background-color: cyan;
}

div#content header {
  flex-grow: 0;
  font-size: 7em;
  text-align: center;

}

div#content div.mainbody{
  flex-grow: 1;
  margin: 1em;
  margin-bottom: 0;
  background-color: magenta;

}

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#header {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}





